<div class="list-title-db">
    <h2>Characters of Dragon Ball Z</h2>

<div class="character-grid-db">
    @if (isLoading()) {
        <p class="loading">Cargando luchadores...</p>
    } @else {
        @for (character of characters(); track character.id) {
            <div class="db-card" (click)="goToDetail(character.id)" tabindex="0">
                <img [src]="character.image" alt="{{ character.name }}">
                <div class="db-info">
                    <h3>{{ character.name }}</h3>
                    <p class="specie">Especie: {{ character.race }}</p>
                    <p class="power">Ki: {{ character.ki | number }}</p>
                </div>
            </div>
        } 
        
        @empty {
            <p class="empty-message">No se encontraron personajes de Dragon Ball.</p>
        }
    }
</div>
    
</div>