.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(90deg, #1e272e, #2f3640);
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    z-index: 20;
}

.logo .text-logo {
    font-size: 1.8em;
    font-weight: bold;
    background: linear-gradient(90deg, #8fc5ed, #036bfe);-webkit-background-clip: text;
    color: transparent;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-item {
    color: #dcdde1;
    text-decoration: none;
    font-size: 1.1em;
    padding: 8px 14px;
    border-radius: 8px;
    transition: all 0.25s ease-in-out;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
    }
}

.active-link {
    background-color: #4f4f4f;
    font-weight: bold;
    color: white !important;
    box-shadow: 0 0 10px rgba(254, 254, 254, 0.6);
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links {
        width: 100%;
        justify-content: space-around;
        gap: 12px;
    }

    .nav-item {
        padding: 6px 10px;
        font-size: 1em;
    }
}
